@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-image: url('img/radiant_dire.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 584px) {
    body{
        margin-bottom: 90px;
    }
}